<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
        <link type="text/css" rel="stylesheet" href="static/css/graph.css">
        <link type="text/css" rel="stylesheet" href="static/css/detail.css">
        <link type="text/css" rel="stylesheet" href="static/css/legend.css">
        <link href='http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,700' rel='stylesheet' type='text/css'>

        <!-- Leaflet -->
        <link rel="stylesheet" href="static/css/leaflet.css" />
                
        <!-- Rickshaw JS -->
        <script src="static/js/d3.v2.js"></script>
        <script src="static/js/rickshaw.js"></script>
    </head>

    <body>
    {% block body %}
    {% endblock %}
    </body>
</html>