<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        
        <!-- My CSS -->
        <link rel="stylesheet" type="text/css" href="static/css/styles.css">
        
        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="static/css/leaflet.css">
        <link rel="stylesheet" href="static/css/MarkerCluster.css">
        <link rel="stylesheet" href="static/css/MarkerCluster.Default.css">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,700' rel='stylesheet' type='text/css'>

        <!-- Mapbox JS for marker clustering -->
        <script src="//api.tiles.mapbox.com/mapbox.js/v1.4.2/mapbox.js"></script>

        <!-- Leaflet JS -->
        <script src="static/js/leaflet.js"></script>
        <script src="static/js/leaflet.markercluster-src.js"></script>
        <script src="static/js/leaflet.markercluster.js"></script>

        <!-- Heatmap JS -->
        <script src="static/js/heatmap.js"></script>
        <script src="static/js/heatmap-leaflet.js"></script>

        <!-- Chart JS -->
        <script src="static/js/Chart.js"></script>
    </head>

    <body>
    {% block body %}
    {% endblock %}
    </body>
</html>