
<!DOCTYPE html lang="en-UK">
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Leaflet Heatmap demo</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>

		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
		<![endif]-->
		<style type="text/css" media="screen">
			body{
				margin: 0;
				padding: 0;
			}

			#map {
				width: 100%;
				height: 100%;
			}
		</style>
		<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet-src.js"></script>
		<script type="text/javascript" src="../static/js/heatmap.js"></script>
		<script type="text/javascript" src="../static/js/heatmap-leaflet.js"></script>
		<script type="text/javascript" src="../static/js/QuadTree.js"></script>
        <script src="../static/js/leaflet.markercluster-src.js"></script>
        <script src="../static/js/leaflet.markercluster.js"></script>
        

		<script>
		$(function () {
			var baseLayer = L.tileLayer(
				'http://{s}.tile.cloudmade.com/38be25219f7c4b6f8953354a1b2e583f/112887/256/{z}/{x}/{y}.png',{
					attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
					maxZoom: 18
				}
			);

			var heatmapLayer = L.TileLayer.heatMap({
				// radius could be absolute or relative
				// absolute: radius in meters, relative: radius in pixels
				radius: { value: 1000, absolute: true },
		        //radius: { value: 20, absolute: false },
				opacity: 0.65,
				gradient: {
					0.45: "rgb(0,0,255)",
					0.55: "rgb(0,255,255)",
					0.65: "rgb(0,255,0)",
					0.95: "yellow",
					1.0: "rgb(255,0,0)"
				}
			});

			heatmapLayer.setData(testData.data);

            var markerIcon = L.Icon.extend({
                options: {
                    shadowUrl: '../static/img/marker-shadow.png'
                }
            });
            var blueIcon = new markerIcon({
                iconUrl: '../static/img/marker-icon.png'
            });

            var markers = new L.MarkerClusterGroup({
                disableClusteringAtZoom: 17
            });

			var map = new L.Map('map', {
				zoomControl: false,
				center: new L.LatLng(37.759859,-122.44949),
				zoom: 12,
				layers: [baseLayer, heatmapLayer]
			});
			new L.Control.Zoom({
				position: 'topright'
			}).addTo(map);

			var coordinates = [
				[37.786827,-122.490956, "Hello, world"],
				[37.779399, -122.454155, "Hello, world"],
				[37.795542, -122.420338, "Hello, world"]
			]; 

            for (var i = 0; i < coordinates.length; i++) {
                var a = coordinates[i];
                var title = a[2];
                var marker = L.marker(new L.LatLng(a[0], a[1]), {
                    icon: blueIcon,
                    title: title
                });
                marker.bindPopup(title).openPopup();
                markers.addLayer(marker);
            }
            map.addLayer(markers);

			// make accessible for debugging
			layer = heatmapLayer;
		});
		</script>
	</head>
	<body>
		<div id="map"></div>
	</body>

	<script type="text/javascript" charset="utf-8">
		var testData = {
			max: 31,
			data: [
				{lat: 37.786827, lon:-122.490956, value: 2},
				{lat: 37.779399, lon:-122.454155, value: 3},
				{lat: 37.73, lon:-122.420338, value: 4}
			]
		};
	</script>
</html>