{% extends 'base.html' %}
	<body>
	{% block body %}
		<div id="nav">
			<div id="title-container">
				<div id="title">
					<a href="/" class="title">Preparely</a>
				</div>
			</div>
			<div id="nav-right">
				<!-- <a href="/form" id="submit-button" class="navright">add to map</a> -->
				<!-- <a href="/graph" class="navright">graph</a> -->
				<a href="/archive" class="navright">archived events</a>
				<a href="/about" class="navright">about</a>
			</div>
		</div>
		
		<!-- Leaflet Map -->
		<script>
			// Pulling coordinates from database
			var coordinates = {{ map_json | safe }};
		</script>

		<div id="container">
			<div id="container-left">
				<div id="map"></div>

				<script>
				    // Calling map
				    var map = L.map('map').setView([37.7528, -122.444], 12);
				    L.tileLayer('http://{s}.tile.cloudmade.com/38be25219f7c4b6f8953354a1b2e583f/112887/256/{z}/{x}/{y}.png', {
				        maxZoom: 15,
				        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
				      }).addTo(map);
				    
				    // Cluster group
				    var markers = new L.MarkerClusterGroup({
				    	disableClusteringAtZoom: 17
				    });

				    // Defining marker icon
				    var markerIcon = L.Icon.extend({
				      // Adding marker shadow option
				      options: {
				        shadowUrl: 'static/img/marker-shadow.png'
				      }
				    });
				    var blueIcon = new markerIcon({
				      iconUrl: 'static/img/marker-icon.png'
				    });

				    // Adding markers from input coordinates
				    for (var i = 0; i < coordinates.length; i++) {
				        var a = coordinates[i];
				        var title = a[2];
				        var marker = L.marker(new L.LatLng(a[0], a[1]), {
				            icon: blueIcon,
				            title: title
				        });
				        marker.bindPopup(title);
				        markers.addLayer(marker);
				    }
				    map.addLayer(markers);
				</script>
			</div>

			<br><br>

			<!-- Form -->
			<div id="container-right">
				<form action="/submit" method="POST">
					<div class="form-left">
						<label for="name">Name</label>
						<input type="text" class="input" name="name" />

						<label for="email">Email</label>
						<input type="text" class="input" name="email" />

						<label for="phone_num">Phone Number</label>
						<input type="text" class="input" name="phone_num" />

						<label for="address">Address</label>
						<input type="text" class="input" name="address" />

<!-- 						<label for="city">City</label>
						<input type="text" class="input" name="city" />

						<label for="state">State</label>
						<input type="text" class="input" name="state" />

						<label for="zipcode">Zipcode</label>
						<input type="text" class="input" name="zipcode" /> -->

						<label for="supply_type">Supply Type</label>
						<!-- <div class="sub-label">(water, food, first aid kit, cell phone charger, or flashlight & batteries)</div> -->
						<input type="text" class="input" name="supply_type" />

						<label for="comment">Additional Comments</label>
						<input type="text" class="input-comment" name="comment" />
					<center>
						<input type="submit" name="submit" class="btn-style" value="Add to Map" />
					</center>
					</div>
				</form>
			</div>
			<div id="clear"></div>
		</div>

	{% endblock %}
	</body>
</html>