
body {
	background: #e5e5e5;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 40px;
}

/* ---- Header ---- */

header {
	width: 900px;
	margin: 0 auto;
}

header h1 {
	font-size: 35px;
	font-weight: bold;
	color: #272727;
	text-shadow: 0 1px 0 #fff;
	font-family: neuton-cursive, serif;
}

header p {
	margin: 20px 0 0 3px;
	font-size: 14px;
	color: #272727;
}



/* ---- Main Area ---- */

#main {
	position: relative;
	width: 900px;
	margin: 0 auto;
}


#map_holder {
	width: 900px; 
	height: 500px; 
	border: 1px solid #ccc;
	margin-top: 25px;
}


/* ---- Footer ---- */

footer {
	width: 700px;
	margin: 0 auto;
	padding: 35px 0 25px 0;
	overflow: hidden;
}

footer ul {
	float: right;
	width: 125px;
	height: 22px;
}

footer ul li {
	float: left;
}

footer a {
	position: relative;
	display: block;
	margin-left: 10px;
}
