/* - - - - - - - - - - - - - -
- - - - - - Global - - - - - -
 - - - - - - - - - - - - -  */

body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

/* - - - - - - - - - - - - - -
- - - - - Navigation - - - - -
- - - - - - - - - - - - - - */

#nav {
	width: 100%;
	height: 85px;
	background-color: #333;
}

#title-container {
	margin: 25px 25px 0 25px;
	float: left;
}

#title {
	font: 25px "Arvo", Georgia, serif;
	color: #fff;
}

a.title {
	font: 25px "Arvo", Georgia, serif;
	color: #fff;
	text-decoration: none;
}

#nav-right {
	float: right;
	margin: 31px 25px 0 25px;
	font: 15px "Open Sans", Arial, sans-serif;
	text-transform: uppercase; 
	color: #fff;
	height: 50px;
	text-align: right;
}

a.navright {
	font: 15px "Opens Sans", Arial, sans-serif;
	color: #fff;
	text-decoration: none;
	margin-left: 20px;
}

a.archive {
	color: #df5401;
	text-decoration: none;
}

#submit-button {
	background-color: #979797;
	padding: 10px;
}


/* - - - - - - - - - - - - - -
- - - - - - Map - - - - - -
- - - - - - - - - - - - - - */

#container {
	position: relative;
}

#container-left {
	float: left;
	width: 70%;
}

#container-right {
	float: left;
	/*background-color: #eee;*/
	width: 20%;
	margin-left: 65px;
	margin-top: 40px;
}

#map {
	width: 100%;
	height: 685px;
	top: 0;
	bottom: 0;
}

#map-font {
	font: 18px/28px "Arvo", Georgia, serif;
	color: #333;
	text-align: center;
}

/* - - - - - - - - - - - - - -
- - - - - - Graph - - - - - - 
- - - - - - - - - - - - - - */

#graph-container {
	margin: auto;
	width: 900px;
	height: 500px;
}

#chart {
    display: inline-block;
}

#legend {
    display: inline-block;
    position: relative;
    left: 8px;
}

#legend_container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
}

#chart_container {
    margin: 50px 0 0 50px;
    float: left;
    position: relative;
}

/* - - - - - - - - - - - - - -
- - - - - - Content - - - - - 
- - - - - - - - - - - - - - */

#content {
	margin: auto;
    width: 300px;
    font: 18px/28px "Open Sans", Arial, sans-serif;
    color: #333;
}

#small-content {
	margin: auto;
    width: 600px;
    font: 18px/32px "Open Sans", Arial, sans-serif;
    color: #333;
}

/* - - - - - - - - - - - - - -
- - - - - - - Form - - - - - -
- - - - - - - - - - - - - - */

.form-left {
	float: left;
	width: 300px;
}

/*.form-middle {
	float: left;
	margin-right: 30px;
	width: 300px;
}*/

/*.form-right {
	float: left;
	width: 300px;
}*/

.clear {
	clear: both;
}

#checkbox-font {
	font: 15px/25px "Open Sans", Arial, sans-serif;
}

label {
	width: 100%;
	float: left;
	font: 16px/25px "Opens Sans", Arial, sans-serif;
	text-align: left;
	display: block;
	font-weight: 700;
}

.sub-label {
    font: 15px "Opens Sans", Arial, sans-serif;
}

.input {
	width: 100%;
	height: 30px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #b7b7b7;
	font: 18px "Opens Sans", Arial, sans-serif;
}

.input-login {
	width: 150px;
	height: 25px;
	margin-left: 20px;
	background: #fff;
	border: 1px solid #b7b7b7;
	font: 18px "Opens Sans", Arial, sans-serif;
}

.input-comment {
	width: 100%;
	height: 72px;
	margin-bottom: 20px;
	background: #fff;
	border: 1px solid #b7b7b7;
	font: 15px "Opens Sans", Arial, sans-serif;
	text-align: top;
}

.btn-style {
	margin-top: 5px;
	border: none;
	background-color: #f0cc41;
	width: 200px;
	height: 50px;
	color: #fff;
	font: 20px "Arvo", Georgia, serif;
}