/*
	Author: Amy Lin
	Hackbright Academy, Fall 2013
*/


/******* GLOBAL *******/

html {
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

p {
	font: 13px/18px "Opens Sans", Arial, sans-serif;
}


/******* SIDEBAR *******/

#sidebar {
	background: #fff;
	/*border-left: 1px solid #b7b7b7;*/
	float: right;
	right: 350px;
	margin-right: -350px;
	position: absolute;
	width: 350px;
	overflow-y: auto;
}

#title-image {
	margin: 25px 0 25px 0;
	border: 0;
	text-align: center;
}

/*.text-info {
	background: #fff;
	margin: auto;
	position: relative;
	top: 35px;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	width: 270px;
	height: 100%;
}*/


/******* FORM *******/

.form-container {
	background: #fff;
	margin: auto;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	width: 270px;
}

label {
	width: 270px;
	float: left;
	font: 16px/25px "Opens Sans", Arial, sans-serif;
	text-align: left;
	display: block;
	font-weight: 700;
}

.sub-label {
    font: 15px "Opens Sans", Arial, sans-serif;
}

.input {
	width: 270px;
	height: 30px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #b7b7b7;
	font: 18px "Opens Sans", Arial, sans-serif;
}

.input-login {
	width: 150px;
	height: 25px;
	margin-left: 20px;
	background: #fff;
	border: 1px solid #b7b7b7;
	font: 18px "Opens Sans", Arial, sans-serif;
}

.input-comment {
	width: 270px;
	height: 72px;
	margin-bottom: 20px;
	background: #fff;
	border: 1px solid #b7b7b7;
	font: 15px "Opens Sans", Arial, sans-serif;
	text-align: top;
}

.btn-style {
	margin: 5px 0 15px 0;
	border: none;
	background-color: #b7b7b7;
	width: 180px;
	height: 45px;
	color: #fff;
	font: 20px "Arvo", Georgia, serif;
}


/******* MAIN CONTENT *******/

#content-wrapper {
	float: right;
	width: 100%;
}

#content {
	background: #fff;
	margin-right: 350px;
	overflow-y: auto;
}


/******* MAP *******/

#map {
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
}

.overlay {
	position: absolute; 
	padding: 15px;
	font: 14px/16px "Open Sans", Arial, sans-serif;
	background-color: rgba(255, 255, 255, 0.65);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.45);
	color: #000;
	font-weight: 700;
}

.title {
	text-align: center;
	top: 0;
	left: 0;
}

/******* GRAPH *******/

/*#graph-container {
	margin: auto;
	width: 900px;
	height: 500px;
}

#chart {
    display: inline-block;
}

#legend {
    display: inline-block;
    position: relative;
    left: 8px;
}

#legend_container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
}

#chart_container {
    margin: 50px 0 0 50px;
    float: left;
    position: relative;
}