/*
	Author: Amy Lin
	Hackbright Academy, Fall 2013
*/


/******* GLOBAL *******/

html {
	overflow: auto;
}

body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

p {
	font: 13px/18px "Open Sans", Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #4cb1d7;
}

a:hover {
	text-decoration: underline;
}

.clear {
	clear: both;
	margin-bottom: 50px;
}

table { 
	width: 100%; 
	border-collapse: collapse; 
	opacity: 0.85;
}

th { 
	padding: 6px; 
	background: #eee; 
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;  
	font: 14px/18px "Open Sans", Arial, sans-serif; 
	font-weight: 700;
	text-align: center;
	width: 50%;
}

td { 
	font: 14px/18px "Open Sans", Arial, sans-serif; 
	padding: 6px; 
	background: #eee; 
	border-right: 3px solid #fff;
	border-bottom: 3px solid #fff;  
	text-align: center; 
	width: 50%;
}


/******* MAP CONTENT *******/

#content-wrapper {
	float: left;
	width: 100%;
}

#map {
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
}

.overlay {
	position: absolute; 
	padding: 10px;
	font: 14px/16px "Open Sans", Arial, sans-serif;
	background-color: rgba(46, 46, 46, 0.45);
	border-radius: 4px 3px 6px / 0 0 4px 0;
	color: #fff;
	font-weight: normal;
}

.title {
	text-align: center;
	top: 0;
	left: 350px;
}


/******* SIDEBAR & NAV *******/

#sidebar {
	background: #fff;
	float: right;
	position: absolute;
	width: 350px;
	overflow-y: auto;
	opacity: 0.85;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

#title-image {
	margin: 35px 0 40px 0;
	border: 0;
	text-align: center;
}

#navcontainer ul {
	margin: 40px 0 40px 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#navcontainer ul li {
	display: inline;
}

#navcontainer ul li a {
	text-decoration: none;
	font: 13px "Open Sans", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: #676767;
	background-color: #eee;
	padding: 7px;
	margin: 5px;
	width: 100px;
	border-radius: 4px 3px 6px / 2px 4px;
}

#navcontainer ul li a:hover {
	text-decoration: none;
	color: #333;
	background-color: #cdcdcd;
}


/******* FORM *******/

.form-container {
	background: #fff;
	margin: auto;
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-y: auto;
	width: 270px;
}

label {
	width: 270px;
	float: left;
	font: 14px/20px "Open Sans", Arial, sans-serif;
	text-align: left;
	display: block;
	font-weight: 700;
}

.input {
	width: 270px;
	height: 30px;
	margin-bottom: 15px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px 3px 6px / 2px 4px;
	font: 15px "Open Sans", Arial, sans-serif;
}

.input-comment {
	width: 270px;
	height: 72px;
	top: 0;
	line-height: 72px;
	margin-bottom: 20px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px 3px 6px / 2px 4px;
	font: 15px "Open Sans", Arial, sans-serif;
}

.btn-style-map {
	margin: 5px 0 15px 0;
	border: none;
	border-radius: 4px 3px 6px / 2px 4px;
	background-color: #db6653;
	width: 150px;
	height: 45px;
	color: #fff;
	font: 20px "Arvo", Georgia, serif;
}

.btn-style-login {
	margin: 5px 0 15px 0;
	border: none;
	border-radius: 4px 3px 6px / 2px 4px;
	background-color: #888;
	width: 115px;
	height: 35px;
	color: #fff;
	font: 16px "Arvo", Georgia, serif;
}


/******* TOP NAV - SUBPAGES *******/

#top-nav {
	background: #fff;
	top: 0;
	position: fixed;
	width: 100%;
	height: 70px;
	opacity: 0.9;
	border-bottom: 1px solid #ddd;
	/*box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);*/
}

#top-nav-container-left {
	float: left;
	margin: 22px 0 0 25px;
}

#top-nav-container-right {
	float: right;
	margin: 26px 22px 0 0;
}

#top-nav-list ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#top-nav-list ul li {
	display: inline;
}

#top-nav-list ul li a {
	text-decoration: none;
	font: 13px "Open Sans", Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: #676767;
	background-color: #eee;
	padding: 7px;
	margin: 5px;
	width: 100px;
	border-radius: 4px 3px 6px / 2px 4px;
}

#top-nav-list ul li a:hover {
	text-decoration: none;
	color: #333;
	background-color: #cdcdcd;
}


/******* CONTENT - SUBPAGES *******/

#subpage-container {
	width: 100%;
	height: 100%;
}

#subpage-header {
	margin: 70px 0 50px 0;
	width: 100%;
}

#subpage-content {
	margin: auto;
	width: 900px;
}

#subpage-archive-container {
	width: 100%;
	height: 100%;
	background: url("../../static/img/tiny_grid.png");
}

#subpage-archive-inner-container {
	padding-top: 255px;
}

#subpage-archive-content {
	width: 450px;
	margin: auto;
}

#description {
	font: 18px/35px "Open Sans", Arial, sans-serif;
	padding-bottom: 50px	
}

#description-login {
	margin: auto;
	width: 270px;
}

#archive-logged-in-container {
	width: 100%;
	height: 100%;
	margin-bottom: 65px;
}

.archive-logged-in-content {
	width: 800px;
	margin: auto;
}

.archive-event-details {
	width: 800px;
	margin: auto;
}

.archive-logged-in-left {
	width: 450px;
	margin-top: 55px;
	float: left;
}

.archive-logged-in-right {
	width: 350px;
	margin-top: 55px;
	float: left;
	text-align: right;
}

.archive-logged-in {
	font: 16px/25px "Open Sans", Arial, sans-serif;
}

#btn-summary {
	border: none;
	border-radius: 4px 3px 6px / 2px 4px;
	background-color: #4cb1d7;
	width: 135px;
	height: 35px;
	color: #fff;
	font: 14px "Open Sans", Arial, serif;
}