<!--
	Notes:
		11/6/13 - Connect database to graph
		11/7/13 - Still trying to connect DB to graph
-->

{% extends 'master.html' %}

	{% block body %}
		<div id="chart_container">
			<div id="chart"></div>
			<div id="legend_container">
				<div id="smoother" title="Smoothing"></div>
				<div id="legend"></div>
			</div>
			<div id="slider"></div>
		</div>

		<script>
			// auto color palette
			var palette = new Rickshaw.Color.Palette();
			var series = [];

			// set up data series for each supply type - call upon database here
			
			// list of data lists
			var seriesData = [ 
				[]		// water
				// [], 	// flashlight & batteries
				// [], 	// phone charger
				// [], 	// first aid kit
				// [], 	// food
			];

			// call upon supply type in database
			var db_supply_table = new Rickshaw.Fixtures.RandomData(15);

			for (var i=0; i<15; i++) {
				db_supply_table.addData(seriesData);
			}

			// instantiate the graph
			var graph = new Rickshaw.Graph({
				element: document.getElementById("chart"),
				width: 960,
				height: 500,
				renderer: "line",
				series: [
					{
						name: "Water",
						color: palette.color(),
						data: seriesData[0]
					}

					// {
					// 	name: "Flashlight & Extra Batteries",
					// 	color: palette.color(),
					// 	data: [
					// 		{x:0,y:5},
					// 		{x:1,y:4},
					// 		{x:2,y:3},
					// 		{x:3,y:1},
					// 		{x:4,y:1},
					// 		{x:5,y:2}
					// 	]
					// },
					// {
					// 	name: "Phone Charger",
					// 	color: palette.color(),
					// 	data: [
					// 		{x:0,y:4},
					// 		{x:1,y:4},
					// 		{x:2,y:3},
					// 		{x:3,y:2},
					// 		{x:4,y:1},
					// 		{x:5,y:1}
					// 	]
					// },
					// {
					// 	name: "First Aid Kit",
					// 	color: palette.color(),
					// 	data: [
					// 		{x:0,y:3},
					// 		{x:1,y:3},
					// 		{x:2,y:3},
					// 		{x:3,y:3},
					// 		{x:4,y:2},
					// 		{x:5,y:0}
					// 	]
					// },
					// {
					// 	name: "Food",
					// 	color: palette.color(),
					// 	data: [
					// 		{x:0,y:4},
					// 		{x:1,y:4},
					// 		{x:2,y:4},
					// 		{x:3,y:3},
					// 		{x:4,y:2},
					// 		{x:5,y:4}
					// 	]
					// }
				]
			});

			graph.render();

			// show data point info
			var hoverDetail = new Rickshaw.Graph.HoverDetail({
				graph: graph
			});
		
			// graph legend
			var legend = new Rickshaw.Graph.Legend({
				graph: graph,
				element: document.getElementById("legend")
			});

			// allows toggling between keys of legend
			var shelving = new Rickshaw.Graph.Behavior.Series.Toggle({
				graph: graph,
				legend: legend
			});

			// graph axes
			var axes = new Rickshaw.Graph.Axis.Time({
				graph: graph
			});

			axes.render();
		</script>

	{% end block %}