{% extends 'base.html' %}
	<body>
	{% block body %}
		<div class="top-nav">
			<div class="top-nav-container-left">
				<a href="/">
					<img src="../static/img/supplycache-logo-subpage.png" border="0">
				</a>
			</div>
			<div class="top-nav-container-right">
				<div class="top-nav-list">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/archive">Archive</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="subpage-container">
			<div class="subpage-header">
				<img src="../static/img/about-header.png" width="100%" />
			</div>
			<div class="subpage-content">
				<div class="description">
					After a disaster, local communities and neighborhoods come together to support each other. Often times, it's frustrating and difficult to locate necessary supplies before federal aid arrives. <strong>SupplyCache</strong> allows residents to submit information via text message or web form, which then populates to a map for easy visualization. The use of clustered markers on the map help show the number of residents with supplies readily available while an added heat map layer shows areas affected by the disaster.

					<br><br>

					The name <strong>SupplyCache</strong> comes from the idea of <a href="http://geocaching">Geocaching</a>, in which people go find "hidden treasure" based on GPS coordinates and descriptions.

					<br><br>

					This is a project by Amy Lin, an alumna from the Fall 2013 class of <a href="http://hackbrightacademy.com">Hackbright Academy</a>. The Github page for this project can be found <a href="http://github.com/aroundthesea.HB-Project">here</a>.

					<br><br>
					<a href="http://github.com/aroundthesea" title="@aroundthesea"><img src="../static/img/github-logo.png" border="0" width="40" height="40"></a>

					&nbsp;

					<a href="http://twitter.com/aroundthesea" title="@aroundthesea"><img src="../static/img/twitter-logo.png" border="0" width="40" height="40"></a>
			</div>
		</div>
	{% endblock %}
	</body>
</html>