<!--
    Author: Amy Lin
    Hackbright Academy, Fall 2013

    Project: SupplyCache
    Helping communities locate resources after a disaster

    Many thanks to:
    Hackbright!
    Leaflet JS + the amazing community for the various plugins
        Marker Cluster
        Heatmap JS
    Twilio
    Rickshaw JS
    CloudMade
    ngrok
    Google Fonts
-->

<html>
    <head>
        <title>SupplyCache: Locating Resources in Your Community</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Favicon -->
        <link rel="icon" type="image/ico" href="../static/img/favicon.ico"/>
        <!-- jQuery -->
        <script src="../static/js/jquery-1.8.0.min.js"></script>
        <script src="../static/js/jquery-1.9.1.js"></script>
        <!-- My CSS -->
        <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
        <!-- Leaflet CSS -->
        <link rel="stylesheet" href="../static/css/leaflet.css">
        <link rel="stylesheet" href="../static/css/MarkerCluster.css">
        <link rel="stylesheet" href="../static/css/MarkerCluster.Default.css">
        <!-- Leaflet JS -->
        <script src="../static/js/leaflet-src.js"></script>
        <!-- Heatmap plugin -->
        <script type="text/javascript" src="../static/js/heatmap.js"></script>
        <script type="text/javascript" src="../static/js/heatmap-leaflet.js"></script>
        <script type="text/javascript" src="../static/js/QuadTree.js"></script>
        <!-- Marker cluster plugin -->
        <script src="../static/js/leaflet.markercluster-src.js"></script>
        <script src="../static/js/leaflet.markercluster.js"></script>
        <!-- Rickshaw CSS -->
        <link type="text/css" rel="stylesheet" href="../static/css/graph.css">
        <link type="text/css" rel="stylesheet" href="../static/css/detail.css">
        <link type="text/css" rel="stylesheet" href="../static/css/legend.css">
        <link type="text/css" rel="stylesheet" href="../static/css/lines.css">
        <!-- Rickshaw JS -->
        <script src="../static/js/d3.v2.js"></script>
        <script src="../static/js/rickshaw.js"></script>
        <!-- Google Fonts -->
        <link href="http://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,700" rel="stylesheet" type="text/css">
        <!-- Layout fluidity -->
        <script>
            $(document).ready(function() {
                var currHeight = $(window).height();
                $('.sidebar, .content').css('height', currHeight);
                $(window).resize(function() {
                    var currHeight = $(window).height();
                    $('.sidebar, .content').css('height', currHeight);
                });
            });
        </script>
        <!-- jQuery toggle -->
        <script>
            $(document).ready(function() {
                var details = $(".archive-event-details");
                $(details).hide();

                $("button").click(function(e) {
                    $(details).toggle();
                    e.preventDefault();
                });
            });
        </script>
        <!-- Leaflet Map tiling + heatmap -->
        <script>
            $(function () {
                var baseLayer = L.tileLayer(
                    'http://{s}.tile.cloudmade.com/38be25219f7c4b6f8953354a1b2e583f/82651/256/{z}/{x}/{y}.png', 
                    {
                        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
                        maxZoom: 18
                    }
                );
                // Heatmap JS
                var heatmapLayer = L.TileLayer.heatMap({
                    // radius could be absolute or relative
                    // absolute: radius in meters, relative: radius in pixels
                    radius: { 
                        value: 500, 
                        absolute: true 
                    },
                    opacity: 0.55,
                    gradient: {
                        0.45: "rgb(0,0,255)",
                        0.55: "rgb(0,255,255)",
                        0.65: "rgb(0,255,0)",
                        0.95: "yellow",
                        1.0: "rgb(255,0,0)"
                    }
                });

                // Heatmap points
                var testData = {
                    max: 31,
                    data: [
                        {lat: 37.786827, lon:-122.490956, value: 2.75},
                        {lat: 37.791827, lon:-122.482956, value: 2},
                        {lat: 37.779399, lon:-122.454155, value: 1},
                        {lat: 37.773399, lon:-122.459155, value: 1.5},
                        {lat: 37.769399, lon:-122.454155, value: 1.5},
                        {lat: 37.769399, lon:-122.464155, value: 1.5},
                        {lat: 37.73, lon:-122.420338, value: 3},
                        {lat: 37.73, lon:-122.415, value: 3},
                        {lat: 37.726, lon:-122.415, value: 3},
                        {lat: 37.735, lon:-122.425338, value: 1.75},
                        {lat: 37.729, lon:-122.433338, value: 1.75},
                        {lat: 37.677503, lon:-122.456231, value: 1},
                        {lat: 37.681884, lon:-122.461939, value: 1.25}
                    ]
                };
                heatmapLayer.setData(testData.data);

                var markerIcon = L.Icon.extend({
                    options: {
                        shadowUrl: '../static/img/marker-shadow.png'
                    }
                });
                var blueIcon = new markerIcon({
                    iconUrl: '../static/img/yellow-marker.png'
                });

                var markers = new L.MarkerClusterGroup();

                var map = new L.Map('map', {
                    zoomControl: false,
                    center: new L.LatLng(37.75042,-122.489),
                    zoom: 12,
                    layers: [baseLayer, heatmapLayer]
                });
                new L.Control.Zoom({
                    position: 'topright'
                }).addTo(map);

                // Plot coordinates from locations table
                var info = {{ master_json | safe }};
                for (var i = 0; i < info.length; i++) {
                    var a = info[i];
                    var name = a[0];
                    var email = a[1];
                    if (email == null) {
                        email = "None - info via SMS";
                    }
                    var phone = a[2];
                    var address = a[3];
                    var supply = a[6];
                    var comment = a[7];
                    var marker = L.marker(new L.LatLng(a[4], a[5]), {
                        icon: blueIcon,
                        name: name,
                        email: email,
                        phone: phone,
                        address: address,
                        supply: supply,
                        comment: comment
                    });
                    marker.bindPopup( 
                        "<b>Name:</b> " + name + "<br>" + 
                        "<b>Email:</b> " + email + "<br>" +  
                        "<b>Phone:</b> " + phone + "<br>" + 
                        "<b>Address:</b> " + address + "<br>" + 
                        "<b>Supply:</b> " + supply + "<br>" + 
                        "<b>Comment: </b>" + comment
                    );
                    markers.addLayer(marker);
                }
                map.addLayer(markers);

                layer = heatmapLayer;
            });
        </script>
    </head>

    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>