
<!DOCTYPE html>
<html>
<head>
	<title>Leaflet Marker Cluster example</title>

	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" /><![endif]-->
	<script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- MarkerCluster CSS and JS -->
	<link rel="stylesheet" href="../static/css/screen.css" />
	<link rel="stylesheet" href="../static/css/MarkerCluster.css" />
	<link rel="stylesheet" href="../static/css/MarkerCluster.Default.css" />
	<!--[if lte IE 8]><link rel="stylesheet" href="../dist/MarkerCluster.Default.ie.css" /><![endif]-->
	<script src="../static/js/leaflet.markercluster-src.js"></script>
	<script src="../static/js/leaflet-src.js"></script>
	<script type="text/javascript" src="../static/js/meals.js"></script>
	<script type="text/javascript">

		var cloudmade = L.tileLayer('http://{s}.tile.cloudmade.com/{key}/82651/256/{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; 2012 OpenStreetMap contributors, Imagery &copy; 2012 CloudMade',
			key: '38be25219f7c4b6f8953354a1b2e583f'
		});
		
		var markers = new L.MarkerClusterGroup();
		
		var map = L.map('map').addLayer(cloudmade);

		var geoJsonLayer = L.geoJson(meals, {
			onEachFeature: function (feature, layer) {
				layer.bindPopup(feature.properties.STREETNAME);
			}
		});
		markers.addLayer(geoJsonLayer);

		map.addLayer(markers);
		map.fitBounds(markers.getBounds());
	</script>
	<style>
		body {
			padding: 0;
			margin: 0;
		}
		html, body, #map {
			height: 100%;
		}
		.overlay {
			position:absolute; 
			padding: 6px 8px;
			font: 14px/16px Arial, Helvetica, sans-serif;
			color: #223;
			background-color:rgba(255,255,255,0.8);
			box-shadow: 0 0 15px rgba(0,0,0,0.2);
			border-radius: 5px;
		}
		.title {
			text-align:center;
			top:10px;
			right:20%;
			left:20%;
		}
		.footer {
			bottom:10px;
			left:10px;
		}
		.box {
			bottom:90px;
			left:90px;
		}
	</style>
</head>
<body>
	<div id="map"></div>
	<div class="overlay title">Angus Postcodes with Cluster Marker - December 2012</div>
	<div class="overlay footer">Uses the <a href="https://github.com/danzel/Leaflet.markercluster">Marker Cluster</a> plugin for Leaflet.</div>
</body>
</html>